@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: $font-family !important;
  font-size: $font-size-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  }
}

.highlight {
  color: $color-highlight;
}

.bold {
  font-weight: bold;
}

.mainTitle {
  font-size: $font-size-mainTitle;
}

.secondaryTitle {
  font-size: $font-size-secondaryTitle;
}

.subtitle {
  font-size: $font-size-subtitle;
}

.textXm {
  font-size: $font-size-sm;
}

.textXsm {
  font-size: $font-size-xsm;
}