@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $color-background !important;
  color: $color-text;
  font-family: $font-family !important;
  font-size: $font-size-default;
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;

  a {
    color: inherit;
  }

  label {
    display: block;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
  }

  input {
    background: #fff;
    border-radius: $border-radius-main;
    border: 1px solid $color-borders-main;
    font-size: 16px;
    padding: 1.5em 1em;
    width: 100%;
  }

  input:focus {
    border: none;
    outline: 1px solid $color-highlight;
  }

  button {
    background: $color-highlight;
    color: $color-text-inverted;
    border-radius: $border-radius-main;
    border: none;
    outline: none;
    font-size: $font-size-sm;
    padding: 20px 24px;
    text-transform: uppercase;
    width: 100%;
  }

  #app {
    font-weight: normal;
    margin: 0 auto;
    padding: 2rem;
  }
}

.highlight {
  color: $color-highlight;
}

.underline {
  text-decoration: underline;
}

.error {
  color: red;
}

.logo--default {
  height: 62px;
  width: auto;
}

.bold {
  font-weight: bold;
}

.mainTitle {
  font-size: $font-size-mainTitle;
}

.secondaryTitle {
  font-size: $font-size-secondaryTitle;
}

.subtitle {
  font-size: $font-size-subtitle;
}

.textXm {
  font-size: $font-size-sm;
}

.textXsm {
  font-size: $font-size-xsm;
}
